.Section1 {
    width: 100%;
    height: auto;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    overflow: hidden;
}

/* @media(max-width:768px) {
    .Section1 {
        gap: 50px;
    }
} */

@media(max-width:768px) {
    .Section1 {
        flex-direction: column;
        gap: 100px;
        padding: 50px 0;
    }
}

.section1left {
    position: relative;
    width: 35%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

@media(max-width:768px) {
    .section1left {
        width: 80%;
    }
}

.section1left h1 {
    font-size: 70px;
}

@media(max-width:1267px) {
    .section1left h1 {
        font-size: 40px;
    }
}

@media(max-width:768px) {
    .section1left h1 {
        font-size: 35px;
        text-align: center;
    }
}



.section1left p {
    width: 60%;
    font-weight: 200;
}

@media(max-width:1267px) {
    .section1left p {
        font-size: 14px;
    }
}

@media(max-width:768px) {
    .section1left p {
        width: 100%;
        text-align: center;
    }
}

.section1buttondiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 20px;
}

@media(max-width:1268px) {
    .section1buttondiv {
        width: 100%;
        justify-content: center;
    }
}

.menuBTN {
    cursor: pointer;
    background-color: #101A24;
    color: white;
    width: auto;
    height: auto;
    border: none;
    padding: 3% 5%;

    border-radius: 20px 5px;
}

.menuBTN:hover {
    border-radius: 5px 20px;
    transition: all .3s ease;
}

.bookatableBTN {
    cursor: pointer;
    background-color: #EA6D27;
    color: white;
    width: auto;
    border: none;
    padding: 3% 5%;

    border-radius: 20px 5px;
    transition: all .3s ease;
}

.bookatableBTN:hover {
    border-radius: 5px 20px;
}


.section1leftcircularIMG {
    position: absolute;
    width: 15%;
    top: -120px;
    left: -50px;
}

@media(max-width:1267px) {
    .section1leftcircularIMG {
        display: none;
    }
}


/* ----------------------------------- RIGHT */

.section1right {
    width: 35%;
    /* border: 1px solid black; */

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

@media(max-width:768px) {
    .section1right {
        width: 70%;
    }
}



.section1rightbigIMG {
    width: 80%;
    z-index: 1;
}

.section1rightsmallimg {
    width: 40%;
    position: absolute;

    bottom: 5%;
    left: -13%;
    z-index: 2;
}

.leaf1 {
    position: absolute;

    top: -10%;
    left: -15%;
    width: 50%;
}

.leaf2 {
    position: absolute;
    width: 50%;

    top: -15%;
    right: -10%;
}

.leaf3 {
    position: absolute;
    width: 40%;

    bottom: 5%;
    right: -15%;
}